In [13]:
import json
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [14]:
reviewsDf = pd.read_csv('./data/modified_reviews.csv', encoding='latin-1')
len(reviewsDf)

459915

In [15]:
reviewsDf.head(1)

,id,review_id,user_id,restaurant_id,slug,rating,content,createdAt
0,65eddbf4b6474deda4d94197,zM7u3iffMjniyvQAaN9Tnw,65d92f185b89ca028e45e930,65eda92ad745307cb1a957d3,nSi0NLoRHw,1.0,So disappointing on so many levels. Have been ...,2012-05-29 03:51:08

In [16]:
sid = SentimentIntensityAnalyzer()

In [17]:
def sentiment_analysis(sentence):
    scores = sid.polarity_scores(sentence)

    if scores['compound'] >= 0.5:
        label = 'positive'
    elif scores['compound'] <= -0.5:
        label = 'negative'
    else:
        label = 'neutral'
    
    return {'label': label, 'score': scores['compound']}

In [18]:
result_array = []

for index, row in reviewsDf.iterrows():

    analysis = sentiment_analysis(row['content'])    
    reviewsDf.at[index, 'sentiment'] = analysis['label']
    result_array.append({ 'id': row['id'], 'sentiment': analysis['label']})

In [19]:
reviewsDf.head(1)

,id,review_id,user_id,restaurant_id,slug,rating,content,createdAt,sentiment
0,65eddbf4b6474deda4d94197,zM7u3iffMjniyvQAaN9Tnw,65d92f185b89ca028e45e930,65eda92ad745307cb1a957d3,nSi0NLoRHw,1.0,So disappointing on so many levels. Have been ...,2012-05-29 03:51:08,neutral

In [20]:
file_path = "data.json"

with open(file_path, 'w') as json_file:
    json.dump(result_array, json_file)

print("JSON file created successfully:", file_path)

JSON file created successfully: data.json

In [21]:
reviewsDf.to_csv('./data/labelled_reviews.csv', index=False)