## **Imports**

In [26]:
import json
import pandas as pd
from datetime import datetime

## **Loading Dataset**

In [4]:
data_file = open("../data/yelp_academic_dataset_user.json", encoding="utf-8")

data = []

for line in data_file:
  data.append(json.loads(line))

yelpUsersDf = pd.DataFrame(data)

In [9]:
yelpUsersDf.head(1)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180

In [21]:
usersDf = pd.read_csv('../date/users.csv', encoding='latin-1')

In [11]:
for index, row in usersDf.iterrows():
    usersDf.at[index, 'createdAt'] = yelpUsersDf.loc[index]['yelping_since']

In [13]:
columns_to_drop = ["password", "isVerified", "updatedAt", "__v"]
usersDf.drop(columns=columns_to_drop, inplace=True)

In [14]:
usersDf.head(1)

                        _id                      email            createdAt
0  65d8e5095b89ca028e3fcaf3  alfredo.grant@example.com  2007-01-25 16:47:26

## **Generating Users Date JSON**

In [19]:
result_array = []

for index, row in usersDf.iterrows():
    
    result_array.append({
        'id': row['_id'],
        'createdAt': row['createdAt'],
    })

print("Result Array Length:", len(result_array))

Result Array Length: 300885

In [20]:
# Define the file path where you want to save the JSON file
file_path = "data.json"

# Write the result_array to a JSON file
with open(file_path, 'w') as json_file:
    json.dump(result_array, json_file)

print("JSON file created successfully:", file_path)

JSON file created successfully: ../date/data.json

## **Verifying Users Date**

In [22]:
provided_df = pd.read_csv('../date/auth.auths.csv', encoding='latin-1')
provided_df.head(1)

,_id,email,password,isVerified,createdAt,updatedAt,__v
0,65d8e5095b89ca028e3fcaf3,alfredo.grant@example.com,$2a$10$G8sGLs1RATsmoTEVaOjGhenyceoJECpDABaOWT2...,False,2007-01-25T16:47:26.000Z,2024-03-18T17:34:01.663Z,0

In [ ]:
result_array = []

for index, row in usersDf.iterrows():

    registered_row = provided_df.loc[provided_df['_id'] == row['_id']]
    
    if len(registered_row) != 1:
        print(f"User with Id {id} not found.")
        break
    
    data = registered_row.iloc[0]
    
    yelpUserDate = datetime.strptime(row['createdAt'], "%Y-%m-%d %H:%M:%S")
    dbUserDate = datetime.strptime(data['createdAt'], "%Y-%m-%dT%H:%M:%S.%fZ")
    
    if (yelpUserDate != dbUserDate):
        print(f"User date is not equal: {id}.")